.alert-notice{
  margin:5px;
}

.jf-alert {
  width: 70%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eee;
  position: fixed;
  border-left-width: 5px;
  -webkit-box-shadow: 8px 7px 3px -5px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 8px 7px 3px -5px rgba(0,0,0,0.75);
  box-shadow: 8px 7px 3px -5px rgba(0, 0, 0, 0.48);
  border-radius: 3px;
  margin: 10px 10px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.jf-alert-path {
  float: right;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}

.jf-alert-uri {
    float: left;
    color: rgba(0, 0, 0, 0.44);
}

.jf-alert-fatal, 
.jf-alert-error {
  border-left-color: #d9534f;
  background-color: #fff;
}

.jf-alert-fatal strong, 
.jf-alert-error strong {
  color:#d9534f;
}

.jf-alert-warning{
  border-left-color: #f0ad4e;
  background-color: #fff;
}

.jf-alert-warning strong {
  color:#f0ad4e;
}

.jf-alert-info {
  border-left-color: #5B9FDE;
  background-color: #fff;
}

.jf-alert-info strong {
  color: #5B9FDE;
}

.jf-alert-success {
  border-left-color: #2b542c;
  background-color: rgba(43, 84, 44, 0.1);
}

.jf-alert-success strong {
  color: #2b542c;
}
